@media only screen and (max-width: 767px) {
  .video-info {
    text-align: center;
  }

  .video-info h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .video-info {
    text-align: left;
  }
}

.video-info p,
.video-info h4 {
  color: white;
}
